:root {
    --bg-color: #ffffff;
    --text-color: #110000;
    --primary-color: #353637;
    --secondary-color: #4a4a4b;
    --border-color: #110000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #121212;
        --text-color: #eaeaea;
        --primary-color: #a90505;
        --secondary-color: #8f74cd;
        --border-color: #cdc6c6;
    }
}
.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
  }
body {
    font-family:DM Serif Text;
    font-size: medium;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    border: 2px solid var(--border-color);
}

.page-container {
    max-width: 100%;
    padding: 0px;
    font: size 1.5rem; ;
}
.container{
    max-width: 100%;
    margin:0 auto;
    
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: var(--bg-color);
}

header h1 {
    margin: 0;
}

nav {
    text-align: right;
    padding: 10px;
}
.name{
    text-align: left;
    padding:10px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid var(--border-color);
}
section {
    background-color: var(--bg-color);
    margin-bottom: 0px;
    padding: 10px;
    border: 1px solid #110000;
}

h2 {
    color: var(--primary-color);
    margin-top: 0;
}

ul {
    list-style: disc inside;
    padding: 0;
}

.reviews {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.review {
    flex: 1;
    border: 1px solid #110000;
    border-radius: 8px;
    padding: 15px;
    background-color:var(--bg-color);
}

.review p {
    margin: 10 10 10px;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: var(--bg-color);
    border-top: 1px solid var(--border-color);
}

@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        gap: 20px;
    }
    .container {
        flex-direction: row;
        grid-column: span 1;
    };

    .reviews {
        flex-direction: row;
        grid-column: span 1;
        grid-row: span 3;
    }
    
}

@media (max-width: 767px) {
    nav ul{
        flex-direction: row;
        text-align: center;
    }
    .name{
        flex-direction: row;
        text-align: center;
    }
    .grid{
        grid-template-columns: 1fr;
    }
    .reviews{
        flex-direction: column;
    }
}
